/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1.country-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color:#d6283f;
  text-transform: uppercase;
  margin-top: -30px;
  display: block;
}

img.rank {
  width: 150px;
  float:right;
  display: inline-block;
  margin-top: -5%;
}

.country-title-container {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

img.map {
  width:500px;
  height:500px;
  margin-top: 1.5%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color:#d6283f;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

 .logo img {
   max-width:20%;
   max-height:20%;
   /*filter: drop-shadow(.2px .5px 15px rgba(0,0,0,0.2));*/
   margin-top:-15px;
 }

 header.logo {
    display: inline;
 }

 .navbar-class {
   list-style-type: none;
   text-align: center;
   height:38px;
   position: relative;
   top:-80px;
   /*opacity: .8;*/
   /*box-shadow: 2px 3px 5px #272828;*/

 }

 li {
   display: inline;
   padding-right: 30px;
 }

 ul {
   top: 30px;
 }

 a {
   position: relative;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   color: #000;
   font-size: 16px;
   font-weight: bold;
   top: 12px;
 }


 a:visited {
     text-decoration: none;
 }

 a:hover {
     border-bottom: 5px solid #4deee2;

 }

 a:active {
     text-decoration: underline;
 }

 .country-title {
   text-align: center;
}


   .title {
     font-size: 24px;
   }

   .item {
     font-size: 12px;
   }

   .news-logo {
     top:200px;
     height: 150px;
     width: 150px;
     display: block;
     margin-left: 16%;
   }

   .news-feed-logo {
     width:100px;
   }

   div.news-feeds {
     margin-top: 20px;
     height:450px;
     padding: 15px;
     width: 240px;
     overflow-y: scroll;
     display: inline-block;
     outline-color: #27282b;
     overflow: -moz-scrollbars-vertical;
     margin: 0 15px;
     /*border-radius:30px;*/
     /*opacity: 0.75;*/
     text-align: center;
     /*background-color: #e0e3e5;*/
     border-color: #e0e3e5;
     border-style: solid;
     /*box-shadow: 2px 2px 5px #888888;*/
     font-family: 'Roboto', sans-serif;
   }
 /*RESPONSIVENESS*/
 @media (max-width: 800px) {
     li {
         padding-right: 20px;
     }
     a {
       font-size:12px;
     }
     div.earth {
       width: 250px;
       height: 250px;
       top:320px;
   }

   .home-logo img {
     max-width:40%;
     max-height:40%;
   }

   .logo img {
     max-width:20%;
     max-height:20%;
   }

   #home-title {
     font-size: 24px;
   }

   div.news-feeds {
     margin-top: 50px;
     height:350px;
     width: 20%;
     overflow:auto;
     z-index: 1;
     overflow-y: scroll;
     display: inline-block;
     outline-color: #27282b;
     margin-right: 20px;
     /*border-radius:30px;*/
     /*opacity: 0.75;*/
     text-align: center;
     /*background-color: #e0e3e5;*/
     /*border-color: #e0e3e5;*/
     /*box-shadow: 2px 2px 5px #888888;*/
     font-family: 'Roboto', sans-serif;
     vertical-align: center;
   }

   .news-feed-logo {
     width:50%;
     margin-right: 60px;
     vertical-align: center;
   }

   }

 @media (max-width: 650px) {
     li {
         padding-right: 18px;
     }
     a {
       font-size:9px;
     }

     .home-logo img {
      margin-left: -70px;
      max-width:40%;
      max-height:40%;
     }

     .logo img {
       margin-left: -70px;
     }

     div.earth {
       width: 200px;
       height: 200px;
       top:150px;
   }

   .country-buttons img{
     vertical-align: center;
   }

 }
