/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #home-title {
   font-family: 'Righteous', cursive;
   font-size: 50px;
   color:#fff;
   text-shadow: 0px 0px .5px #fff;
   text-align: center;
   position: fixed;
   width: 100%;
   vertical-align: middle;
   top: 140px;
 }

.summary {
  text-align: center;
  /*color: #4deee2;*/
  color:#fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  position: absolute;
  top: 230px;
  width: 100%;
  vertical-align: middle;
}

#emphasis {
  color:#d6283f;
  font-family:'Poiret One', cursive;
}

#underline {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #d6283f;
}
#cross {
  text-shadow: 0px 0px .5px #4deee2;
  color:#4deee2;
}
.category {
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
  color:#d6283f;
}

h1.country-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
  color:#d6283f;
  vertical-align: middle;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
  color:#d6283f;
  text-align: center;
}

 .logo img {
   max-width:20%;
   max-height:20%;
   filter: drop-shadow(.2px .5px 15px rgba(0,0,0,0.2));
   margin-top:-15px;
 }

 .navbar-class {
   list-style-type: none;
   text-align: center;
   height:38px;
   position: relative;
   top:5px;
   /*opacity: .8;*/
   /*box-shadow: 2px 3px 5px #272828;*/

 }

 li {
   display: inline;
   padding-right: 60px;
 }

 ul {
   top: 30px;
 }

 a {
   position: relative;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
   color: #000;
   font-size: 16px;
   font-weight: bold;
   top: 12px;
 }


 a:visited {
     text-decoration: none;
 }

 a:hover {
     border-bottom: 5px solid #4deee2;

 }

 a:active {
     text-decoration: underline;
 }

 .country-title {
   text-align: center;
    }


   img.map {
     display: block;
     margin-top: 10px;
     height:500px;
     width: 350px;
     float: right;
   }

   img.rank {
     float:left;
     height:100px;
     display: inline;
   }

   .title {
     font-size: 24px;
   }

   .item {
     font-size: 12px;
   }

   .news-logo {
     top:200px;
     height: 150px;
     width: 150px;
     display: block;
   }

 /*RESPONSIVENESS*/
 @media (max-width: 800px) {
     li {
         padding-right: 20px;
     }
     a {
       font-size:12px;
     }
     div.earth {
       width: 250px;
       height: 250px;
       top:320px;
   }

   .home-logo img {
     max-width:40%;
     max-height:40%;
   }

   .logo img {
     max-width:20%;
     max-height:20%;
   }

   #home-title {
     font-size: 24px;
   }


   }

 @media (max-width: 650px) {
     li {
         padding-right: 18px;
     }
     a {
       font-size:9px;
     }

     .home-logo img {
      margin-left: -70px;
      max-width:40%;
      max-height:40%;
     }

     .logo img {
       margin-left: -70px;
     }

     div.earth {
       width: 200px;
       height: 200px;
       top:150px;
   }
 }
