// Place all the styles related to the Egypt controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.egypt-news-logo {
  width:100px;
}
