// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-border {
  border-bottom: 2px solid #fff;
  box-shadow: 2px 2px 5px #888888;
  padding-bottom: 20px;
}

.home-logo img {
  max-width:20%;
  max-height:20%;
  top:0px;
}

#background-color {
 // background-image: url("https://images.pexels.com/photos/158651/news-newsletter-newspaper-information-158651.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
 background-size: cover;
 background-color: #27282b;
 opacity: 0.9;
}

.country-buttons {
  max-width: 90%;
  display: inline-block;
  margin-left:20%;
  margin-right:20%;
  margin-top: 190px;
  }

  .country-buttons img {
    width: 60px;
    }

.country-buttons a:hover {
  border-bottom: none;
}


/*RESPONSIVENESS*/
@media (max-width: 650px) {

  h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    color:#d6283f;
    text-shadow: 0px 0px .5px #4deee2;
  }
  .country-buttons img {
    height: 60px;
    top:230px;
    display: inline-block;
    margin-left:10%;
    margin-right: 10%;
    }
}


@media (max-width: 650px) {
  img {
    width: 12%;
    padding-left: 70px;
  }

  h1 {
    font-size: 20px;
  }

}
