// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color:#fff;
  text-align: center;
}

#home-border {
  border-bottom: 2px solid #fff;
  box-shadow: 2px 2px 5px #888888;
  padding-bottom: 20px;
}

.home-logo img {
  max-width:20%;
  max-height:20%;
  top:0px;
}

.landing-page-buttons {
  display:inline;
}

#background-color {
 background-color: url("IMG_3693")
}

.country-buttons {
    position: relative;
    width: 30em;
    height: 20em;
    padding: 3.0em;
    margin: 1.75em auto 0;
  }

.country-buttons a {
    display: block;
    position: absolute;
    top: 45%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}

.country-buttons a:hover {
  border: none;
}


#china-button-home img {
  display: block;
  height: 75px;
  width: 75px;
  transform: translate(14em);
  display: block;
}

#egypt-button-home img {
  height: 75px;
  width: 75px;
  transform: rotate(45deg) translate(14em) rotate(-45deg);
  display: block;
}

#france-button-home img {
  height: 75px;
  width: 75px;
  transform: rotate(135deg) translate(14em) rotate(-135deg);
  display: block;
}

#russia-button-home img {
  height: 75px;
  width: 75px;
  display: block;
  transform: translate(-14em);
}

#usa-button-home img {
  height: 75px;
  width: 75px;
  display: block;
  transform: rotate(225deg) translate(14em) rotate(-225deg);
}

#venezuela-button-home img {
  height: 75px;
  width: 75px;
  display: block;
  transform: rotate(315deg) translate(14em) rotate(-315deg);
}


/*RESPONSIVENESS*/
@media (max-width: 750px) {

  div.country-buttons {
    float:left;
    padding-right:40px;
  }

  body#background-color {
    background-color: #fff;
}

  h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    color:#d6283f;
    text-shadow: 0px 0px .5px #4deee2;
  }
}


@media (max-width: 650px) {
  img {
    width: 12%;
    padding-left: 70px;
  }

}
