// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-border {
  border-bottom: 2px solid #fff;
  box-shadow: 2px 2px 5px #888888;
  padding-bottom: 20px;
}

.home-logo img {
  max-width:20%;
  max-height:20%;
  top:0px;
}

#background-color {
 // background-image: url("https://cdn.shutterstock.com/shutterstock/videos/5867618/thumb/1.jpg");
 background-size: cover;
 background-color: #27282b;
 opacity: 0.9;
}

.country-buttons img {
  width: 80px;
  height: 80px;
  display: inline;
  margin-right:-80px;
  margin-bottom: 20px;
  text-align: center;
  top:200px;
  position: relative;
  margin-left: 23%;
  vertical-align: middle;
  }

.country-buttons a:hover {
  border-bottom: none;
}

/*RESPONSIVENESS*/
@media (max-width: 750px) {

  h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    color:#d6283f;
    text-shadow: 0px 0px .5px #4deee2;
  }
  .country-buttons img {
    width: 60px;
    height: 60px;
    top:230px;
    display: inline-block;
    margin-right:-10px;
    vertical-align: middle;
    }
}


@media (max-width: 650px) {
  img {
    width: 12%;
    padding-left: 70px;
  }

  h1 {
    font-size: 20px;
  }

}
